

.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 95%;
    height: 30px;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #000000;
    // position: fixed;
    // top: 10px;
    .left{
        .logo{
            font-family: 'Outfit', sans-serif;
            span{
                // background: linear-gradient(to right, #ffffff, #cccccc, #9b9b9b, #6d6d6d);
                // -webkit-text-fill-color: transparent;
                // -webkit-background-clip: text;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .right{
        
    
    }

    


}


.intro{
    display: flex;
    flex-direction: column;
    margin: 50px  0;

    .left{
        display: flex;
        flex: 3;
        align-items: center;
        justify-content: center;

        .avatar{
            background-color: #000000;
            padding: 5px;
            border-radius: 50%;
            height: 300px;
            @media only screen and (max-width: 768px){
                height: 150px;
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 4;
        // align-items: center;
        justify-content: center;
        padding: 0 19px;


        h1{
            font-size: 40px;
            margin-bottom: 0px;
            // padding-right: 15px;
            color: white;
        }

        h2{
            font-size: 57px;
            margin-top: 0;
            font-weight: 100;
            -webkit-text-stroke: 3px white;
	        -webkit-text-fill-color: black;
        }
        .btn-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            .flw{
                margin-left: 10px;
            }
            

        }
        
        .socals{
            display: flex;
            flex-direction: row;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                p{
                    margin-left: 10px;
                }
            }
        }

        @media only screen and (max-width: 768px){
            text-align: center;

            h1{
                font-size: 38px;
                margin-bottom: 0px;
            }
    
            h2{
                font-size: 48px;
                margin-top: 0;
            }

            .btn-container{
                align-items: center;
                justify-content: center;
            }
        }

    }

    @media only screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
        height: 120vh;
    }
}

.project{

    h1{
        font-size: 40px;
        margin-left: 30px;

        @media only screen and (max-width: 768px){
            text-align: center;
        }
    }

    .project-tiles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 50px;

        .tile{
            background-color: hsl(0, 0%, 22%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 500px;
            // height: 220px;
            border-radius: 10px;
            padding: 5px 10px;
            text-decoration: none;   
            color: #fff;     
            h3{
                font-size: 14px;
            }
        
            p{
                color: hsl(0, 0%, 60%);
            }
        
        }
        
    }

    .pagination{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    @media only screen and (max-width: 768px){
        padding: 0 20px;
    }
}